<ion-view title="Box Office">

  <ion-content>
    <div class="list">

      <!-- <a ng-repeat="movie in boxOffice" href="#/tab/boxOfficeMovieDetail/{{movie.id}}" class="item item-avatar">
        <img ng-src="{{ movie.posters.thumbnail }}">
        <h2>{{ movie.title }}</h2>
        <h4>{{ movie.artist }}</h4>
      </a> -->

      <a ng-repeat="movie in boxOffice" ui-sref="tab.boxofficeMovieDetail({movieID: movie.id})" class="item item-avatar">
        <img ng-src="{{ movie.posters.thumbnail }}">
        <h2>{{ movie.title }}</h2>
        <h4>{{ movie.artist }}</h4>
      </a>

    </div>

  </ion-content>
</ion-view>
